body {
  margin: 0;
  font-family: 'Dosis', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/images/kalina_punks_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: 'Dosis', Tofu, monospace;
}
