/* index.css */

/* Define the font-family for the body copy */
body {
  margin: 0;
  font-family: 'Onest', Tofu;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/images/kalina_AMM_bg.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.dosis-font {
  font-family: 'Dosis', sans-serif;
}
.onest-font {
  font-family: 'Onest', Tofu;
}
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest&display=swap');
